@tailwind base;
@tailwind components;
@tailwind utilities;

/* Variables */
:root {
  /* Colors */
  --color-bg: hsl(214, 21%, 21%);
  --color-bg-overlay: hsl(213, 20%, 17%);
  --color-accent-gold: hsl(41, 89%, 47%);
  --color-accent-white: hsl(0, 0%, 100%);
  --color-accent-grey: hsla(0, 0%, 100%, 0.75);
  --color-accent-dark-grey: hsla(0, 0%, 100%, 0.45);
  font-size: 16px;
}

body {
  background-color: var(--color-bg);
  font-family: Open Sans Regular, -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Oxygen-Sans, Ubuntu, Cantarell, Helvetica Neue, sans-serif;
  color: var(--color-accent-white);
}

/* Navbar */
.navbar {
  background-color: var(--color-bg-overlay);
}
.vline {
  background-color: var(--color-accent-dark-grey);
}

/* Sidebar */
.sidebar-wide {
  background-color: var(--color-bg-overlay);
  width: 18rem;
  height: 90vh;
}
.sidebar-slim {
  width: 4rem;
}
.active {
  color: var(--color-accent-gold);
  border-left: 2px var(--color-accent-gold) solid;
  border-radius: 5px;
}
.hidden {
  display: none;
}

.btn {
  text-transform: uppercase;
}
.btn-premium {
  background-color: var(--color-accent-gold);
  color: var(--color-accent-grey);
}
